/* CSS styles for navbar */
.inline-block {
    display: inline-block;
    vertical-align: top;
  }
  
  div.logo {
    width: 23%;
    padding: 1%;
  }
  
  nav {
    width: 73%;
    padding: 1%;
  }
  
  ul {
    width: 50%;
    margin-left: auto;
  }
  
  /* CSS styles for hero image */
  section.heroImg {
    height: 600px;
    padding: 25px;
  }
  
  div.content {
    width: 500px;
    margin: 0 auto;
  }
  
  /* CSS styles for footer */
  footer {
    background-color: #373738;
    padding: 10px;
  }
  
  footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 0;
  }
  
  footer li {
    padding: 0 10px;
  }